# App Config
VITE_APP_BASE_URL=
BASE_URL=

# Authentication
JWT_SECRET=

# Email Service (Nodemailer)
EMAIL_USER=
EMAIL_PASS=

# M-Pesa API (Daraja)
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_B2C_SHORTCODE=
MPESA_B2C_INITIATOR=
MPESA_B2C_PASSWORD=
MPESA_INITIATOR_NAME=
MPESA_SECURITY_CREDENTIAL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
